<!DOCTYPE html>
<html>
  <head>
    <title>Form with CSS</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="style.css" type="text/css" />
  </head>
  <body >
<div id="dGen" >
    <div id="dPic">
<div id="dHeader">
<img  id="iLogo"  src="images/2a9c6a03-7ff0-480e-9932-46621e63253a_200x200.png">
<ul>
    <li><a href="HomePage.html"  style="font-weight: bold;color:white;">Home Page</a></li>
</ul>
</div>
<div id="dSearch" >
   </div>
<div id="dPromo">
  
</div>
<div id="dInform">

<h3>Hello {{user.username}}</h3>
  <p>Welcome to your dashboard</p>
  <p>Here is the information we have on file for you:</p>
  <h4>username: {{user.username}}</h4>
  <h4>email: {{user.email}}</h4>
  <a href="/logout">Logout</a>


  
</div>

<div id="dFooter">
<br>
<br>  
<br>
<br>
<hr>
<div class="grid_foterinfo">
<div class="onehalf">
<ul class="linklist">
  
  
    <li><a href="/pages/about-nick-mayer">About Us</a></li>
  
    <li><a href="/blogs/press-media">PRESS &amp; MEDIA</a></li>
  
    <li><a href="/pages/contact-us">CONTACT US</a></li>
  
</ul>
</div>
<div class="onehalf">
<ul class="linklist">
  
    
      <li><a href="/pages/common-questions">Common Questions</a></li>
    
      <li><a href="/pages/licensing">Licensing</a></li>
    
      
    
  
</ul>
</div>
</div>
<ul>
<li><a href=""><img width="15%" height="15%" src="images\facebook-square-brands.svg"/></a></li>
<li><a href=""><img width="15%" height="15%" src="images\instagram-brands.svg"/></a></li>
<li><a href=""><img width="15%" height="15%" src="images\twitter-brands.svg"/></a></li>
</ul>
</div>   


</body>
</html>