<!DOCTYPE html>
<html>
  <head>
    <title>AIRB&BT</title>
    <meta charset="utf-8" />
    <script src="Server.js"></script>
    <link rel="stylesheet" href="style.css" type="text/css" />
  </head>
  <body>
<div id="dGen">
    <div id="dPic">
<div id="dHeader">
<img  id="iLogo"  src="images/2a9c6a03-7ff0-480e-9932-46621e63253a_200x200.png">
<ul>
  <li><a href="Login.hbs"  style="font-weight: bold;color:white;">Sign Up</a></li>
  <li><a href="views/Registration.hbs"  style="font-weight: bold;color:white;">Log In</a></li>
  <li><a href="RoomListingPage.html"  style="font-weight: bold;color:white;">Room
  </a></li>

</div>
<div id="dSearch">
<div id="dForm" style="height: 80%;">
  <form method="POST"   enctype="body-parser/form-data">
    <table >
      <tbody>
      <tr><td><h3>Book unique places to stay and things to do.</h3></td></tr>
        <tr>
          <td><label for="email">WHERE</label></td></tr>
         <tr> <td><input
            type="text"
            list="feedback-problems"
            name="problem"
        style="width: 100%;"
            tabindex="4"
            placeholder="Anywhere"
          />   
            <datalist id="feedback-problems">
                       
                <option value="Toronot"> </option>
                <option value="Vancouver"> </option>
                <option value="Calgary"> </option>
                <option value="Montreal"> </option>
              </datalist>
        
        </td>
            
            <tr>
              <td><label style="width: 50%;" for="fdate">CHECK-IN</label></td>
              <td><label style="width:115%;margin-left:-115%;" for="sdate">CHECKOUT</label></td>
              
            </tr>
            <tr > 
                <td ><input id="fdate" style="width: 60%;" type="date"  /></td>
               <td> <input  id="sdate" style="width:115%;margin-left:-80%;" type="date"  /></td>
                
              </tr>
    
            <tr>
              <td><label for="passwordconfirm">GUESTS</label></td></tr>
             <tr> <td> <input
                type="text"
                list="feedback-problems"
                name="problem"
            style="width: 100%;"
                tabindex="4"
              />   
                        <datalist id="feedback-problems">
                       
                        <option value="1 guest"> </option>
                        <option value="2 guests"> </option>
                        <option value="3 guests"> </option>
                      </datalist></td>
            </tr>
            
            <tr>
              <td colspan="2" style="text-align: right;"><button type="submit" style="background-color: red;border-radius: .6em;height:10%;width:30%;box-shadow: none;">Search</button> </td>
            </tr>
      </tbody>
    </table>
  </form>

</div>

</div>
    </div>
    <div id="dPromo">
      <img id="iPro" src="images/artem-beliaikin-pPzQP35zh4o-unsplash.jpg" width="15%" height="100%">
      <img  id="iHoll" src="images/ralph-ravi-kayden-ygs9FD6Xzvk-unsplash.jpg" width="15%" height="100%" />
      <h2 style="text-align: center;">YOU CAN GET 10% OFF DURING THIS WEEK</h2>
      <h4 style="text-align: center;">YOU CAN GET 10% OFF DURING THIS WEEK</h4>
      <h5 style="text-align: center;">YOU CAN GET 10% OFF DURING THIS WEEK</h5>
     
      <button type="submit" style="float:left;margin-left: 15%;  border-radius: .6em;height:20%;width:30%;box-shadow: none;">CLICK FOR MORE INFO</button>
    </div>
    <div id="dInform">

     <div id="dVideo">
      <iframe width="100%" height="100%" style="border-radius:1em;padding-left:.3em;" src="https://www.youtube.com/embed/nMITXMrrVQU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
     </div>
      <div id="dImg">
        <h3 style="color: black;">A community built on sharing</h3>

          <p style="padding:.3em ;">Airbnb began in 2008 when two designers who had space to share hosted three travellers looking for a place to stay. Now, millions of hosts and travelers choose to create a free Airbnb account so they can list their space and book unique accommodations anywhere in the world. And Airbnb experience hosts share their passions and interests with both travelers and locals.</p>
      </div>
    </div>
  
    <div id="dFooter">
    <br>
    <br>  
    <br>
    <br>
<hr>
<div class="grid_foterinfo">
  <div class="onehalf">
    <ul class="linklist">
      
      
        <li><a href="/pages/about-nick-mayer">About Us</a></li>
      
        <li><a href="/blogs/press-media">PRESS &amp; MEDIA</a></li>
      
        <li><a href="/pages/contact-us">CONTACT US</a></li>
      
    </ul>
  </div>
  <div class="onehalf">
    <ul class="linklist">
      
        
          <li><a href="/pages/common-questions">Common Questions</a></li>
        
          <li><a href="/pages/licensing">Licensing</a></li>
        
          
        
      
    </ul>
  </div>
</div>
<ul>
  <li><a href=""><img width="15%" height="15%" src="images/facebook-square-brands.svg"/></a></li>
  <li><a href=""><img width="15%" height="15%" src="images/instagram-brands.svg"/></a></li>
  <li><a href=""><img width="15%" height="15%" src="images/twitter-brands.svg"/></a></li>
</ul>
</div>   
 
</div>
    </body>
</html>
