<!--
Student Name: Elmira Mirza
Student Id:130828197
email:emirza2@myseneca.ca
WEB322NFF
-->
<!DOCTYPE html>
<html>
  <head>
    <title>Form with CSS</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="style.css" type="text/css" />
  </head>
  <body >
<div id="dGen" >
    <div id="dPic">
<div id="dHeader">
<img  id="iLogo"  src="images/2a9c6a03-7ff0-480e-9932-46621e63253a_200x200.png">
<ul>
  <li><a href="HomePage.html"  style="font-weight: bold;color:white;">Home Page</a></li>
  


</div>
<div id="dSearch" >
<div id="dForm">
  <form  action="/addUser" method="POST" enctype="body-parser/form-data">
    <table  >
      <tbody>
       <tr>
           <td style="text-align: center;">
               <label>Sign up with </label><label style="color:green;">Facebook</label> or <label style="color:green;">Google</label>
           </td>
       </tr>
  <tr>
   <td> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <label>-------------   </label> or <label>  -------------</label></td>
  </tr>
        
          <td><input style="width:100%" id="r_email" required type="email"  placeholder="Email address" /></td></tr>
            <tr>
              
              <td><input style="width:100%" id="r_name"  required type="text" placeholder="First name" /></td>
            </tr>
            <tr>
              
                <td><input style="width:100%" id="r_Lname" required type="text"  placeholder="Last name" /></td>
              </tr>
            <tr>
              <td><input style="width:100%" id="r_password" required type="password" placeholder="Create a Password"/></td>
            </tr>
            <tr>
              <td><h3>Birthday</h3></td>
            </tr>
            <tr>
              <td><p>To sign up,you need to be at least 18.Other people who use Airbnb won't see your birthday.</p></td>
            
            </tr>
            
           <tr>
               <td >
                <input
        type="text" style="width: 25%;"
        list="lmonth"
        name="problem" 
   
        placeholder="Month"
        tabindex="4"
      />      
                <datalist id="lmonth">
                
                <option value="Jan"> </option>
                <option value="Feb"> </option>
                <option value="Mar"> </option>
                <option value="Apr"> </option>
                <option value="Ma"> </option>
                <option value="Ju"> </option>
                <option value="Jl"> </option>
                <option value="Aug"> </option>
                <option value="Sep"> </option>
                <option value="oct"> </option>
                <option value="Nov"> </option>
                <option value="Dec"> </option>
              </datalist>
               
                <input
        type="text"
        list="lday"
        name="problem"
        placeholder="Day"
        tabindex="4" style="width: 25%;"
      />      
                <datalist id="lday">
           
                <option value="1"> </option>
                <option value="2"> </option>
                <option value="3"> </option>
                <option value="4"> </option>
                <option value="5"> </option>
                <option value="6"> </option>
                <option value="7"> </option>
                <option value="8"> </option>
                <option value="9"> </option>
                <option value="10"> </option>
                <option value="11"> </option>
                <option value="12"> </option>
                <option value="13"> </option>
                <option value="14"> </option>
                <option value="15"> </option>
                <option value="16"> </option>
                <option value="17"> </option>
                <option value="18"> </option>
                <option value="19"> </option>
                <option value="20"> </option>
                <option value="21"> </option>
                <option value="22"> </option>
                <option value="23"> </option>
                <option value="24"> </option>
                <option value="25"> </option>
                <option value="26"> </option>
                <option value="27"> </option>
                <option value="28"> </option>
                <option value="29"> </option>
                <option value="30"> </option>
              </datalist>
               
                <input
        type="text" style="width: 25%;"
        list="lyear"
        name="problem"
        placeholder="Year"
        tabindex="4"
      />   
                <datalist id="lyear">
               
                <option value="2020"> </option>
                <option value="2019"> </option>
                <option value="2018"> </option>
              </datalist></td>
           </tr>
           <tr>
            <td><p>We'll send you marketing promotions,special offers,inspiration, and policy updates via email.</p></td>
          </tr>
            <tr>
              <td ><button style="background-color: red;width:100%;border-radius:.3em ;" type="submit">Sign up</button> </td>
            </tr>
      </tbody>
    </table>
  </form>

</div>

</div>
    </div>
   
    <div id="dPromo"></div>
    <div id="dInform">

     
    </div>
    
    <div id="dFooter">
      <br>
      <br>  
      <br>
      <br>
  <hr>
  <div class="grid_foterinfo">
    <div class="onehalf">
      <ul class="linklist">
        
        
          <li><a href="/pages/about-nick-mayer">About Us</a></li>
        
          <li><a href="/blogs/press-media">PRESS &amp; MEDIA</a></li>
        
          <li><a href="/pages/contact-us">CONTACT US</a></li>
        
      </ul>
    </div>
    <div class="onehalf">
      <ul class="linklist">
        
          
            <li><a href="/pages/common-questions">Common Questions</a></li>
          
            <li><a href="/pages/licensing">Licensing</a></li>
          
            
          
        
      </ul>
    </div>
  </div>
  <ul>
    <li><a href=""><img width="15%" height="15%" src="images\facebook-square-brands.svg"/></a></li>
    <li><a href=""><img width="15%" height="15%" src="images\instagram-brands.svg"/></a></li>
    <li><a href=""><img width="15%" height="15%" src="images\twitter-brands.svg"/></a></li>
  </ul>
  </div>   
   
  </div>
      </body>
  </html>

