<!--
Student Name: Elmira Mirza
Student Id:130828197
email:emirza2@myseneca.ca
WEB322NFF
-->
<!DOCTYPE html>
<html>
  <head>
    <title>AIRB&BT</title>
    <meta charset="utf-8" />
    <script src="Server.js"></script>
    <link rel="stylesheet" href="style.css" type="text/css" />
  </head>
  <body>
<div id="dGen">
    <div id="dPic">
<div id="dHeader">
<img  id="iLogo"  src="images/2a9c6a03-7ff0-480e-9932-46621e63253a_200x200.png">
<ul>
  <li><a href="Login.html"  style="font-weight: bold;color:white;">Sign Up</a></li>
  <li><a href="Registration.html"  style="font-weight: bold;color:white;">Log In</a></li>


</div>
<div id="dSearch">
    <div id="Firstrow">
        <div id="dFirst">
          <img width="99%" style="border-radius: 1em;" height="99%" src="images/room1.jpg"></img>
          <a href="">PRIVATE COZY ROOM</a>
          <h5>1guest,1bedroom,1 bed,1.5shared baths</h5>
          <h6>27$ per night</h5>      
          </div>
        <div id="dSecond">
          <img width="99%" style="border-radius: 1em;" height="99%" src="images/room2.jpg"></img>
          <a href="">Private Room in Downtown East Side</a>
          <h5>2guests,1bedroom,1bed,1shared bath</h5>
          <h6>27$ per night</h5> 
        </div>
        <div id="dThird">
          <img width="99%" style="border-radius: 1em;" height="99%" src="images/room3.jpg"></img>
          <a href="">Kids Book</a>
          <h5>1guest,1bedroom,1 bed,1.5shared baths</h5>
          <h6>34$ per night</h5> 
        </div>
        </div>
        <div id="Secondrow">
        
        <div id="dFourth">
          <img width="99%" style="border-radius: 1em;" height="99%" src="images/room4.jpg"></img>
          <a href="">Eclectic West Downtown Basement Room</a>
          <h5>4guests,1bedroom,1bed,1shared bath</h5>
          <h6>31$ per night</h5> 
        </div>
        <div id="dFifth">
            <img width="99%" style="border-radius: 1em;" height="99%" src="images/room5.jpg"></img>
            <a href="">Quite Room</a>
            <h5>1guest,1bedroom,1bed,2shared baths</h5>
            <h6>30$ per night</h5> 
          </div>
          <div id="dSixth">
            <img width="99%" style="border-radius: 1em;" height="99%" src="images/room6.jpg"></img>
            <a href="">Amazing Studio in the Heart of Liberty Village</a>
            <h5>2guests,Studio,1bed,1bath</h5>
            <h6>77$ per night</h5> 
          </div>
        
</div>
</div>
</div>
<div id="dPromo">
  
</div>
<div id="dInform">


  
</div>

<div id="dFooter">
<br>
<br>  
<br>
<br>
<hr>
<div class="grid_foterinfo">
<div class="onehalf">
<ul class="linklist">
  
  
    <li><a href="/pages/about-nick-mayer">About Us</a></li>
  
    <li><a href="/blogs/press-media">PRESS &amp; MEDIA</a></li>
  
    <li><a href="/pages/contact-us">CONTACT US</a></li>
  
</ul>
</div>
<div class="onehalf">
<ul class="linklist">
  
    
      <li><a href="/pages/common-questions">Common Questions</a></li>
    
      <li><a href="/pages/licensing">Licensing</a></li>
    
      
    
  
</ul>
</div>
</div>
<ul>
<li><a href=""><img width="15%" height="15%" src="images\facebook-square-brands.svg"/></a></li>
<li><a href=""><img width="15%" height="15%" src="images\instagram-brands.svg"/></a></li>
<li><a href=""><img width="15%" height="15%" src="images\twitter-brands.svg"/></a></li>
</ul>
</div>   


</body>
</html>